@import "resetStyle";
@import "form";
@import "column";
@import "colorsVariable";

//off scrollbar
::-webkit-scrollbar { /* chrome based */
  width: 0; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

html {
  -ms-overflow-style: none; /* IE 10+ */
}
.container {
  height: 100vh;
  padding: 20px;
  background: url(../images/night_sky_bg.jpg) no-repeat;
  background-size: cover;
  overflow-x: auto;
}

.wrapper {
  height: 100%;
}

//media adaptive
@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width:768px) {
  .container {
    max-width: none;
  }
}
@media (max-width: 590px) {
  .columns {
    flex-direction: column;
  }
}
